#sec-features {
	// border: solid;
	padding: 25px 0;
	text-align: center;

	.row {
		// border: solid cyan;
	}

	h2 {
		margin-bottom: 25px;
	}

	.box {
		// border: 1px solid red;
		margin-top: 10px;

		i {
			font-size: 220%;
		}

		h3 {
			margin: 15px 0;
		}
	
	}

	p {
		line-height: 145%;
	}
	
}