	// Buttons
.btn {
    display: inline-block;
    color: #fff;
    background: $brand-color;
    padding: 10px 30px;
    border-radius: 200px;
    margin-right: 15px;
    transition: 0.3s all linear;
		&:hover {
			background: darken($brand-color, 10%);
		}
}

.btn-reverse {
	@extend .btn;
	background: transparent;
	color: $brand-color;
	border: 1px solid $brand-color;
		&:hover {
			color: #fff;
		}
}
